{% extends "base.html" %}
{% load ratings %}
{% block content %}
<div class="container">
<br>
<br>
<h4>Welcome to the Book listing page:</h4>
{% for object in object_list %}
<p>********************</p>
<br>
<p>Book title: {{ object.title }}</p>
<p>Book author: {{ object.author }}</p>
<p>Book genre: {{ object.genre }}</p>
<p>Book Price: ${{ object.cost }}</p>
<br>
<a href="{% url 'book_update' object.id %}">Update</a>
<a href="{% url 'book_delete' object.id %}">Delete</a>

<p>********************</p>
<br>
{% ratings object %}
{% endfor %}

</div>

{% endblock %}
